/* Latin font import */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular');
}

body {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
}

.name {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 10px;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus, a:hover {
  color: #f09228;
  text-decoration: none;
}